{
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "prettier"],
  "extends": ["eslint:recommended", "esnext", "esnext/style-guide", "typescript", "plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "strict": [2, "function"],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "max-len": [
      "error",
      {
        "code": 240,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/prefer-default-export": "off",
    "prettier/max-len": [240]
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
